:root {
    --primary-color: #333;
    --secondary-color: #ddd;
    --tertiary-color: #eee;
    font-size: 20;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

.center {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    display: inline;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    align-self: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
    margin: 0;
    background-image: url("./bgimg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-top: 10rem;
}

/* highlight text */
.highlight {
    color: #22d2ca;
}

.highlight {
    transition-timing-function: ease-in-out;
    transition-duration: .9s;
}


/* navigation bar */
.navtop {
    /* background-color: #333; */
    position: fixed;
    width: 100%;
    top: .25rem;
    height: 3rem;
    overflow: hidden;
    z-index: 1;
}

.navtop a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    display: block;
    padding: 1% 1%;
    text-decoration: none;
    font-size: 1.5rem;
    width: auto;
    height: 2rem;
    /* top: 1rem; */
}

.navtop a {
    transition-timing-function: ease-in-out;
    transition-duration: .1s;
}

.navtop a:hover {
    background-color: #ddd;
    color: black;
}


ul.topnav {
    list-style: none;
    overflow-x: hidden;
    margin: -0.2rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
}

.navtop img {
    width: 2.5rem;
    height: 2.5rem;
    float: left;
    margin: .5rem .5rem .5rem 1rem;
    border-radius: 3rem;
}

#profile-pic:hover {
    cursor: pointer;
}

.cssanimation,
.cssanimation span {
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

.cssanimation span {
    display: inline-block;
    /* transform-origin: 50% 50%; */
    /* animation-iteration-count: infinite; */
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }

}

.fadeInBottom {
    animation-name: fadeInBottom;
    animation-timing-function: ease;
    transform: translateY(100%);
}


@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }

}

.fadeInRight {
    animation-name: fadeInRight;
    animation-timing-function: ease;
    animation-delay: 1.4s;
    transform: translateX(100%);
    opacity: 0;
}

@keyframes effect {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    50% {
        opacity: 1;
        transform: translateX(0%);
    }

    100% {
        opacity: 1;
        color: #24d4cb;
    }
}

.animated-name {
    animation-name: effect;
    animation-delay: 2s;
    animation-timing-function: ease;
    transform: translateX(-100%);
    opacity: 0;
}

.greet {
    font-size: 7rem;
    text-align: center;
}


#home {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 5rem;
}

/* Glassmorphism */
.glass {

    background: rgba(255, 255, 255, 0.1);
    border: 1%, solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 60rem;
    height: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    color: #BEBEBE;
    margin: 1rem;
}

#details {
    display: inline;
}

#cryptohack {
    color: #22d2ca;
    text-decoration: none;
}

#cryptohack:hover {
    color: #FFD700;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

/* About me */
#langs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
    padding: auto;
}

#langs img {
    width: 4rem;
    height: 4rem;
    margin: 1rem;
}

#langs img:hover {
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline;

}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: .5rem;
    padding: 0.5rem 0.5rem;

    /* Position the tooltip */
    position: static;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Projects section */
#projects {
    width: 100%;
    height: 100vh;
    display: inline;
    align-items: center;
    justify-content: center;
    margin: 9rem 1rem 1rem 1rem;
}

.project-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 100px 50px;
    padding: 100px 50px;
}

.project-container .project {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: #1c3f5c;
    border-radius: 1rem;
    box-shadow: 0 35px 80px #24d4cb;
    transition: .5s;
}

.project-container .project:hover {
    height: 400px;
    cursor: pointer;
}

.project-container .project .project-image {
    position: absolute;
    top: 20px;
    width: 300px;
    height: 220px;
    background: #333;
    border-radius: 1rem;
    overflow: hidden;
    transition: .5s;
}

.project-container .project:hover .project-image {
    top: -100px;
    scale: .75;
    box-shadow: 0 15px 45px rgba(156, 229, 242, 0.1);
}

.project-container .project .project-image img {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-container .project .project-details {
    position: absolute;
    top: 11.4rem;
    text-align: center;
    padding: 0 30px;
    width: 100%;
    height: 3rem;
    transition: .5s;
    overflow: hidden;
}

.project-container .project:hover .project-details {
    height: fit-content;
    top: 4rem;
}

.project-container .project .project-details h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #24d4cb;
}

.project-container .project .project-details a {
    position: relative;
    display: inline-block;
    padding: .5rem 1rem;
    background-color: #22d2ca;
    color: #ddd;
    font-weight: 500;
    border-radius: .5rem;
    text-decoration: none;
}

/* contact-me */
#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#name {
    width: 25rem;
    height: 2rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    text-align: left;
}

#email {
    width: 25rem;
    height: 2rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    text-align: left;
}

#msg {
    width: 25rem;
    height: 5rem;
    border: none;
    border-radius: .5rem;
    margin-bottom: 1rem;
}


#send {
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: #ddd;
    border: none;
}

#send:hover {
    background-color: #24d4cb;
    cursor: pointer;
}

input {
    background-color: #333;
    color: #BEBEBE;
    border: none;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem;

}

/* footers */
.bottom {
    align-items: baseline;
    justify-content: center;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

}

.socials img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 1rem;
}


#copyright {
    text-align: center;
    margin-top: 1rem;
    color: #BEBEBE;

}

/* Responsive */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .navtop {
        visibility: hidden;
    }

    .glass {
        width: 70%;
    }

    #langs {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    body {
        font-size: 1.5rem;
    }

    #home .greet {
        font-size: 50%;
    }

    #contact-form,
    #name,
    #email,
    #msg {
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {

    #home {
        width: 70%;
    }

    #home,
    #about,
    #skills {
        height: auto;
    }

    #projects {
        margin: 9rem 1rem 1rem 0rem;
    }
}



@media only screen and (max-width: 992px) {

    #home {
        width: 98%;
        position: relative;
        top: -12rem;
    }

    #home h1 {
        font-size: 8rem;
    }

    .glass {
        width: 80%;
        font-size: 1.5rem;
    }

    #projects {
        height: auto;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .glass {
        width: 80%;
        font-size: 2rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .glass {
        width: 90%;
        font-size: 2rem;
    }

    #send {
        width: auto;
        font-size: 1.25rem;
    }
}
