:root {
    --primary-color: #FFD700;
    --secondary-color: #333;
    --tertiary-color: #04AA6D;
    font-size: 20;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

.center {
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    align-self: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
    margin: 0;
    background-image: url("./coolbg.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-top: 10rem;
}

/* highlight text */
.highlight {
    color: #66FCF1;
}

.highlight {
    transition-timing-function: ease-in-out;
    transition-duration: .9s;
}

.highlight:hover {
    cursor: pointer;
}

/* navigation bar */
.navtop {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    height: 3rem;
    overflow: hidden;
}

.navtop a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    display: block;
    padding: 1% 1%;
    text-decoration: none;
    font-size: 1.5rem;
    width: auto;
    height: 1rem;
}

.navtop a {
    transition-timing-function: ease-in-out;
    transition-duration: .1s;
}

.navtop a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 2rem 2rem;
}

.navtop a.active {
    background-color: #04AA6D;
    color: white;
}

ul.topnav {
    list-style: none;
    overflow-x: hidden;
    margin: -0.2rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
}

.navtop img {
    width: 2.5rem;
    height: 2.5rem;
    float: left;
    margin: .5rem .5rem .5rem 1rem;
    border-radius: 3rem;
}

#profile-pic:hover {
    cursor: pointer;
}

#greet {
    font-size: 7rem;
    text-align: center;
}

#home {
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 5rem;
}

/* hover image */
#details {
    display: inline;
}

#cryptohack {
    color: aqua;
    text-decoration: none;
}

#cryptohack:hover {
    color: #FFD700;

}

/* contact-me */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}


#langs img {
    width: 4rem;
    height: 4rem;
    margin: 1rem;

}

#langs img:hover {
    cursor: pointer;

}

#projects {
    width: 100%;
    height: 100vh;
    display: inline;
    align-items: center;
    justify-content: center;
    margin: 9rem 1rem 1rem 1rem;
}

.project-container {
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}


#contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.glass {

    background: rgba(255, 255, 255, 0.1);
    border: 1%, solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 60rem;
    height: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    color: #BEBEBE;
    margin: 1rem;
}


#name {
    width: 25rem;
    height: 2rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    text-align: left;
}

#email {
    width: 25rem;
    height: 2rem;
    border-radius: .5rem;
    margin-bottom: 1rem;
    text-align: left;
}

#msg {
    width: 25rem;
    height: 5rem;
    border: none;
    border-radius: .5rem;
    margin-bottom: 1rem;
}


#send {
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: #ddd;
    border: none;
}

#send:hover {
    background-color: #04AA6D;
    cursor: pointer;
}

input {
    background-color: #333;
    color: #BEBEBE;
    border: none;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem;

}

footer {
    background-color: #333;

}

.bottom {
    align-items: baseline;
    justify-content: center;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

}

.socials img {
    width: 1.5rem;
    height: 1.5rem;
    margin: 1rem;
}


#copyright {
    text-align: center;
    margin-top: 1rem;
    color: #BEBEBE;

}

@media (max-width: 767px) {
    .navtop {
        height: 2rem;
        font-size: 0;
        image-rendering: auto;
    }

    .topnav {
        font-size: 10rem;
    }

    #profile-pic {
        width: 1rem;
        height: 1rem;
    }

    .card {
        width: 100%;
    }

    .glass {
        width: 77%;
        height: fit-content;
        padding-bottom: 1rem;
    }

    #home {
        width: 100%;
        /* padding: 1rem; */
    }

    #greet {
        font-size: 80%;

    }

    #details {
        font-size: 1rem;
    }

    #name {
        width: 100%;
    }

    #email {
        width: 100%;
    }

    #msg {
        width: 100%;
    }

    #send {
        width: 100%;
    }
}
